<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <form action="/tasks" method="post">
            <input type="text" name="task" placeholder="Add a task" required>
            <button type="submit">Add Task</button>
        </form>
        <ul>
            <% tasks.forEach(task => { %>
                <li class="<%= task.completed ? 'completed' : 'not-completed' %>">
                    <span><%= task.description %></span><br>
                    <a href="/complete-task/<%= task.id %>" class="complete-link">
                        <%= task.completed ? 'Unmark' : 'Mark' %> as Complete
                    </a><br>
                    <a href="/remove-task/<%= task.id %>">Remove</a>
                </li>                
            <% }); %>
        </ul>
    </div>
</body>
</html>

